# Default ignored files
/shelf/
/workspace.xml
# Ignored default folder with query files
/queries/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

#Restrição da main de testes
Main.java

#Restrição para não enviar o .env
src/main/resources/.env

**/target

#Temporario

# Compilados do Java
*.class
*.jar
*.war
*.ear

# Logs
*.log

# Arquivos temporários
*.tmp
*.swp
*.bak
*.DS_Store
Thumbs.db

# Configurações de ambiente
src/main/resources/.env

# Diretórios de build
/target/
/bin/
/out/
/build/

# IntelliJ IDEA
../.idea/
*.iml
*.iws

# VS Code
.vscode/

# NetBeans
/nbproject/private/
/dist/
/nbbuild/
/nblibraries.properties

# Maven Wrapper
.mvn/wrapper/maven-wrapper.jar

# Gradle
.gradle/
build/

# Arquivos de sistema
*~
